<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Casino</title>
	<link rel="stylesheet" href="/css/style.css">
	<script src="/build/common.js"></script>
</head>
<body>
	<div class="content">
		<div class="container">
			<div class="row text-center">
				<h1 class="header">我要摇大奖</h1>
			</div>
			<div class="row text-center">
				<div class="shake-img"></div>
			</div>
			<div class="row text-center">
				<div id="start-btn" class="start-btn"></div>	
			</div>
			<div class="row">
				<a href="#setting" class="link-setting pull-right">更改奖项和人员？</a>
			</div>
			
		</div>
	</div>
	<script src="/build/main.js"></script>
</body>
</html>