<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Casino Register</title>
	<link rel="stylesheet" href="/css/style.css">
	<script src="/build/common.js"></script>
</head>
<body>
	<div class="content" id="main-container">
	</div>
	<script src="/build/register.js"></script>
</body>
</html>