body{
	margin: 0;
	padding: 0;
	background: #e64040 !important;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif !important;
	color: #fff !important;
}

.shake-img{
	background: #fff url(../img/shake.png) 0 0 no-repeat;
	background-size: 260px 260px;
	width: 260px;
	height: 260px;
	margin: auto;

}
.content{
	padding: 30px 15px;
}
.row{
	margin-top: 20px;
}
.btn{
	width: 100%;
	padding: 12px;
	font-size: 24px;
	background: #fed700;
	border: none;
}
.link-setting{
	color: #fff;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.pull-right{
	float: right;
}
ul{
	list-style: none;
	text-align: left;
	margin: 0;
	padding: 0;
}
.prized-container li{
	padding: 10px;
    font-size: 24px;
}
.form label{
	display: block;
}
.form input[type="text"],
.form input[type="number"]{
	width: 100%;
	padding: 10px;
	border: 1px solid #efefef;
	box-sizing: border-box;
	margin: 5px 0;
}
.col-1, .col-2, .col-10{
	display: inline-block;
}
.col-1{
	width: 8.33333333%;
}
.col-2{
	width: 16.66666666%;
}
.col-10{
	width: 83.33333333%;
}
.clear-fix{
	clear: both;
}
.del, .add{
	color: #fff;
    font-size: 20px;
    text-decoration: none;
    background: #ff5f5f;
    padding: 5px 11px 8px 11px;
    border-radius: 4px;
    border: none;
}